/* ----- HOME CONTAINER PRINCIPAL ----- */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100vw;
  text-align: center;
  padding-top: 0px; /* Laisse de l'espace pour le navbar */
  padding-left: 0px;
  padding-right: 40px;
  background-color: #fff5eb;
  background-image: url('img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  
}

/* ----- CONTENU PRINCIPAL ----- */
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 990px;
  width: 80%;
  gap: 0px;
}

/* ----- TEXTE D'ACCUEIL ----- */
.home-text {
  flex: 1;
}

.home-text h1 {
  margin-top: 30px;

  font-size: 3rem;
  color: #3e2c23;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.home-text p {
  font-size: 1.7rem;
  color: #3e2c23;
  margin-bottom: 30px;
  transition: color 0.7s;
}

.highlightee {
  color: #e08b52; /* Couleur dominante type #ffa065 */
}

/* Mode sombre */
.dark-mode h1 {
  margin-top: 30px;
  color: #3e2c23;
}
.dark-mode p {
  color: #bbb;
}
.light-mode p {
  color: #795847;
}

/* ----- BOUTON COMMENCER ----- */
.starte-button {
  padding: 12px 40px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #db8048;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.starte-button:hover {
  background-color: #ad6a40;
}

/* Mode sombre */
.dark-mode .start-button {
  background-color: #4caf50;
}

/* ----- IMAGE ILLUSTRATION ----- */
.home-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  margin-bottom: 0px;       /* Décalage vers le haut */
  margin-right:200px;
}

.home-image img {
  width: 200%;
  max-width: 900px;
  height: auto;
}

/* ----- MODALE ----- */
.modale-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(53, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s;
}

.modale-contentd {
  background: #f8f7f7;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  height: 70vh;
  overflow-y: auto;
  position: relative;
}

/* ----- BOUTONS DE LA MODALE ----- */
.modalee-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}

.signupee-button,
.loginee-buttons {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 20px;
  font-size: 1rem;
  color: black;
}

.signupee-button {
  background-color: #e4ca61;
}
.signupee-button:hover {
  background-color: #ccb042;
}

.loginee-buttons {
  background-color: #f8a876;
}
.loginee-buttons:hover {
  background-color: #dd9162;
}

.closee-button {
  background-color: #d6773c;
  color: rgb(17, 16, 16);
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}
.closee-button:hover {
  background-color: #d68a5b;
  transform: scale(1.05);
}
